<%- include("partials/header.ejs") %>

<% if(locals.postToEdit){ %>
  <section class="container create">
    <h1>Edit Post</h1>
    <form id="myForm" action="/edit/<%= postId  %>" method="POST">
      <input name="name" value="<%= postToEdit.fName %>" type="text" class="feedback-input" placeholder="Name" required />
      <input name="title" value="<%= postToEdit.fTitle %>" type="text" class="feedback-input" placeholder="Title" required>
      <textarea name="text" class="feedback-input" placeholder="Description" required><%= postToEdit.fText %></textarea>
      <input type="submit" value="SUBMIT" />
    </form>
</section>
<% }else { %>
<section class="container create">
    <h1>Create Post</h1>
    <form id="myForm" action="/submit" method="POST">
      <input name="name" type="text" class="feedback-input" placeholder="Name" required />
      <input name="title" type="text" class="feedback-input" placeholder="Title" required>
      <textarea name="text" class="feedback-input" placeholder="Description" required></textarea>
      <input type="submit" value="SUBMIT" />
    </form>
</section>
<% } %>
<%- include("partials/footer.ejs") %>